.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.login-image {
  height: 100%;
}

.login-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lottie {
  width: 30%;
}

.form {
  width: 50%;
}

.input-content {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.input-content input {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid var(--blue);
}

.button {
  cursor: pointer;
  width: 100%;
  margin-top: 25px;
  padding: 10px 0;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid lightblue;
  background-color: var(--blue);
  color: white;
}

.error {
  color: red;
}
